<!-- Hero Banner -->
<section class="rlr-landing__hero">
    {{render "@header-banner"}}
</section>
<section id="demos" class="rlr-section rlr-landing__demos">
    <div class="container-fluid">
        <div class="rlr-lightbox--gallery">
            <div class="rlr-lightbox--gallery__wrapper">
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./home-page" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/home-v1.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './home-page' }}">Home V1</a>
                        </h3>
                        <p class="rlr-team-card__desc">
                            Default template pure JS
                        </p>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./home-page--fsv" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/home-page--video.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './home-page--fsv' }}">Home V2</a>
                        </h3>
                        <p class="rlr-team-card__desc">
                            Video Background
                        </p>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./home-page--full-width-v2" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/home-v2-2.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './home-page--full-width-v2' }}">Home
                                V3</a>
                        </h3>
                        <p class="rlr-team-card__desc">
                            Full width splide JS
                        </p>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./home-page--fw2" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/home-v3-2.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a
                                href="{{path './home-page--fw2' }}">Home
                                V4</a>
                        </h3>
                        <p class="rlr-team-card__desc">
                            Full width splide JS
                        </p>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./home-page--rs1" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/home-8.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './home-page--rs2' }}">Home V5</a>
                        </h3>
                        <p class="rlr-team-card__desc">
                            Revolution slider V1
                        </p>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./home-page--v2" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/home-5.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './home-page--v2' }}">Home V6</a>
                        </h3>
                        <p class="rlr-team-card__desc">
                            Revolution slider V2
                        </p>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./home-page--yellow" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/home-7.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './home-page--yellow' }}">Home
                                V7</a>
                        </h3>
                        <p class="rlr-team-card__desc">
                            Yellow color variation
                        </p>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" wrapperTag="figure" imgThumb="../../assets/images/landing-page/home-page--coming-soon-1.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './home-page--yellow' }}">Home
                                V8</a>
                        </h3>
                        <p class="rlr-team-card__desc">
                            Yellow color variation
                        </p>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery"  wrapperTag="figure" imgThumb="../../assets/images/landing-page/home-page--coming-soon-2.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './home-page--yellow' }}">Home
                                V9</a>
                        </h3>
                        <p class="rlr-team-card__desc">
                            Yellow color variation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rlr-section rlr-landing__features">
    {{render "@features--v3"}}
</section>
<section class="rlr-landing__demos">
    <div class="container">
        {{> '@section-heading' copyText="Some of the inner pages" buttonText="Top Features"}}
        <div class="rlr-lightbox--gallery">
            <div class="rlr-lightbox--gallery__wrapper">
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./product-detail-page" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/tour-detail.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './product-detail-page' }}">Tour
                                Detail Page</a>
                        </h3>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./search-results--no-sidebar" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/full-width.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './search-results--no-sidebar' }}">Listing
                                Full
                                Wdith</a>
                        </h3>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./search-results--left-sidebar" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/left-sb.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a
                                href="{{path './search-results--left-sidebar' }}">Listing
                                Left
                                Sidebar</a>
                        </h3>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./about" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/about.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './about' }}">About Us</a>
                        </h3>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./contact" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/contact.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './contact' }}">Contact Us</a>
                        </h3>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./gallery-page" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/gallery.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './gallery-page' }}">Gallery
                                Page</a>
                        </h3>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./checkout-page" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/checkout.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './checkout-page' }}">Checkout
                                Page</a>
                        </h3>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./order-received" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/order-received.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './order-received' }}">Order
                                Received</a>
                        </h3>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./my-account-pages--order" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/your-orders.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './my-account-pages--order' }}">Your
                                Orders</a>
                        </h3>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./single" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/blog.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './single' }}">Blog Single</a>
                        </h3>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./blog-listings--no-sidebar" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/blog-list.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './blog-listings--no-sidebar' }}">Blog
                                Listing</a>
                        </h3>
                    </div>
                </div>
                <div class="rlr-team-card rlr-team-card--v2" data-aos="fade-up"
                    data-aos-duration="800">
                    <div class="rlr-team-card__thumb">
                        {{> "@image--gallery" ahref="./search-results--4-col" target="_blank" wrapperTag="figure" imgThumb="../../assets/images/landing-page/4-col.jpg" alt="Home Page" imgCount="1"}}
                    </div>
                    <div class="rlr-team-card__summary">
                        <h3 class="rlr-team-card__title">
                            <a href="{{path './search-results--4-col' }}">4 Col
                                Listing</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="landding__plugin">
    <div class="container-fluid">
        {{render "@logos-slider--landing"}}
    </div>
</section>
<section
    class="rlr-section rlr-landing__demos rlr-landing__dev-environment">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-4">
                <div class="rlr-contact-details">
                    <div class="rlr-contact-details__details">
                        {{> "@contact-detail-items--phone" iconClass="flaticon-star" title= 'Latest Bootstrap 5 but better' desc= 'Based on Bootstrap grid with nearly all custom components, it has best of both worlds.'}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="rlr-contact-details">
                    <div class="rlr-contact-details__details">
                        {{> "@contact-detail-items--phone" iconClass="flaticon-star" title= 'BEM naming conventions' desc= 'Our HTML/CSS structure on top of BEM naming convention will accelerate your design.'}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="rlr-contact-details">
                    <div class="rlr-contact-details__details">
                        {{> "@contact-detail-items--phone" iconClass="flaticon-star" title= 'Gulp, WebPack and Babel' desc= 'Template comes with everything you need to get truly modern dev environment setup in seconds.'}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="rlr-contact-details">
                    <div class="rlr-contact-details__details">
                        {{> "@contact-detail-items--phone" iconClass="flaticon-star" title= 'Organized file and folders' desc= 'The component based SCSS/JS file structure will elevate the way you build website blocks.'}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="rlr-contact-details">
                    <div class="rlr-contact-details__details">
                        {{> "@contact-detail-items--phone" iconClass="flaticon-star" title= 'Vanilla JS used throughout' desc= 'Vanilla JS is ~25 times faster and supported by all frameworks, so conversion is seamless.'}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="rlr-contact-details">
                    <div class="rlr-contact-details__details">
                        {{> "@contact-detail-items--phone" iconClass="flaticon-star" title= 'Speed, Accessibility and SEO' desc= 'With 100/100 score on lighthouse for "Best Practices" and "SEO" and 95 for accessibility, you are all set.'}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="rlr-contact-details">
                    <div class="rlr-contact-details__details">
                        {{> "@contact-detail-items--phone" iconClass="flaticon-star" title= 'Build and publish dist' desc= 'Our setup includes the feature to minimize files, images and output production ready template.'}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="rlr-contact-details">
                    <div class="rlr-contact-details__details">
                        {{> "@contact-detail-items--phone" iconClass="flaticon-star" title= 'Continuous feature updates' desc= 'We are completely invested into making this template awesome, so you get regular updates.'}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="rlr-contact-details">
                    <div class="rlr-contact-details__details">
                        {{> "@contact-detail-items--phone" iconClass="flaticon-star" title= 'Friendly support in time' desc= 'We know sometimes you can use a little help from developer, so we are always eager to help you.'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        {{render "@metrics"}}
    </div>
</section>
<section>
    {{> "@cta" ahref="https://themeforest.net/checkout/from_item/37260042?license=regular&size=source&support=bundle_12month&ref=waituk" title="Grow your reach with Emprise" subTitle="Get a solid base to kick start your next project" btnText="Purchase Emprise"}}
</section>